* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main button:hover {
    cursor: pointer;
}

main {
    display: flex;
    max-width: 1440px;   
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.hidden {
    visibility: hidden;
}

.display_none {
    display: none;
}

.overflow_auto {
    overflow: auto;
}

.active_menu_button_color {
    background-color: #C2410C !important;
    color: white !important;
}

.low_resolution_cart_visible {
    opacity: 1 !important;
    pointer-events: auto !important;
}

@font-face {
    font-family: 'Headline_Font';
    src: url('../assets/fonts/lobster-v32-latin-regular.woff2') format('woff2'),
         
}

@font-face {
    font-family: 'Body_Font';
    src: url('../assets/fonts/roboto-v50-latin-regular.woff2') format('woff2'),;
}

@font-face {
    font-family: 'Menu_Buttons';
    src: url('../assets/fonts/radley-v24-latin-regular.woff2') format('woff2'),;
}

@font-face {
    font-family: 'Main_Headline_Font';
    src: url('../assets/fonts/cabin-sketch-v23-latin-regular.woff2') format('woff2'),;
}