* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main button:hover {
    cursor: pointer;
}

main {
    display: flex;
    max-width: 1440px;   
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 100%;
    flex: 1;
}

.hidden {
    visibility: hidden;
}

.display_none {
    display: none;
}

.overflow_auto {
    overflow: auto;
}

.display_flex {
    display: flex;
}

.active_menu_button_color {
    background-color: #C2410C;
    color: white;
}

.low_resolution_cart_visible {
    display: flex;
    pointer-events: auto;
}

