* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main button:hover {
    cursor: pointer;
}

main {
    display: flex;
    max-width: 1440px;   
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    visibility: hidden;
}
