header {
    background-color: rgba(238, 118, 13, 0.894);
    height: 80px;
}

header img {
    margin-top: 8px;
    width: auto;
    height: 50px;
    padding-left: 16px;
}



.main_logo {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.company_logo_div {
    display: grid;
    flex-direction: column;
}

.company_logo_div > * {
    grid-area: 1 / 1;
  }

.company_logo {
    top: 84%;
    width: 100px;
    height: auto;
    border-radius: 50%;
    position: relative;
    bottom: 0;
    left: 43%;
}

.menu_section {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 300px);

}

.restaurant_info {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 24px;
    padding-left: 16px;
}

.restaurant_info p {
    color: orangered;
}

.menu {
    display: flex;
    gap: 10px;
    background-color: lightgray;
    padding: 16px;
    margin-right: 24px;
}

.menu_button {
    border: none;
    background-color: green;
    padding: 12px;
    border-radius: 5px;

}

.actual_menu_image {
    width: auto;
    height: 150px;
    object-fit: cover;
    margin-bottom: 8px;
    margin-right: 24px;

}

.cart_container {
    width: 300px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 
        -8px 0px 16px rgba(0, 0, 0, 0.20),
        8px 0px 16px rgba(0, 0, 0, 0.20);
   
}

.cart_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: sticky;
    top: 8px;
}

.cart_dishes {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}

.cart_add_remove_pieces {
        border: none;
        width: 20px;
        height: auto;
        background-color: transparent;
}

.cart_order_button {
    border-radius: 5px;
    margin-top: 8px;
    padding: 5px;
    background-color: #F36805;
    border-color: #F36805;
    color: #fff;
    border-radius: 20px;
    border: 1px solid transparent;
    font-size: 20px;
}

.cart_border_bottom {
    border-bottom: 2px solid rgb(151, 151, 252);
    margin-bottom: 8px;
}

.add_to_cart {
    height: 35px;
    width: 40px;
    font-size: 25px;
    background-color: unset;
    border: 0.5px solid #e7e2da;
    border-radius: 50%;
    color: #F36805;
}

.cart_payment {
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 8px;
    margin-bottom: 8px;
}

.cart_payment div {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}

.cart_dishes h3 {
    text-decoration: underline;   
}

.dish_menu {
    display: flex;
    justify-content: space-between;
    background-color: #fefefe;
    margin-right: 24px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dish_menu:hover {
    background-color: #F5F5F5;
    border: 2px solid black;
}

.dishes_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer {
    height: 100px;
    background-color: gray;
}

.order_dialog_container {
    position: relative;
    top: 30%;
    left: 20%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 16px;
    width: 600px;
    height: 300px;
    overflow: hidden;
    text-align: center;
}

#delivery_icon {
    position: absolute;
    width: 150px;
    bottom: 10px;
    left: -150px;
    transition: transform 6s linear;
    border-radius: 10px;
}

.order_dialog_container::backdrop {
    backdrop-filter: blur(5px); 
}

.free_delivery_container {
    border: 4px solid #6262d4;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 16px;
    animation: pulse 2s infinite;
}


@keyframes pulse {
    0% {
      border-color: #ffb37a;  
      box-shadow: 0 0 8px #ffb37a;
    }
    33% {
      border-color: #ff8b47;  
      box-shadow: 0 0 12px #ff8b47;
    }
    66% {
      border-color: #ffd7b3;
      box-shadow: 0 0 8px #ffd7b3;
    }
    100% {
      border-color: #ffb37a;
      box-shadow: 0 0 8px #ffb37a;
    }
  }