header {
    background-color: rgba(238, 118, 13, 0.894);
    height: 80px;
}

header img {
    margin-top: 8px;
    width: auto;
    height: 50px;
}

main {
    display: flex;
    
}

.main_logo {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.company_logo_div {
    display: grid;
    flex-direction: column;
}

.company_logo_div > * {
    grid-area: 1 / 1;
  }

.company_logo {
    top: 84%;
    width: 100px;
    height: auto;
    border-radius: 50%;
    position: relative;
    bottom: 0;
    left: 43%;
}

.menu_section {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 300px);

}

.restaurant_info {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 16px;
}

.restaurant_info p {
    color: orangered;
}

.menu {
    display: flex;
    gap: 10px;
    background-color: lightgray;
    padding: 16px;
}

.menu_button {
    border: none;
    background-color: green;
    padding: 12px;
    border-radius: 5px;

}

.actual_menu_image {
    width: auto;
    height: 150px;
    object-fit: cover;
    margin-bottom: 8px;;

}

.cart_section {
    width: 300px;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart_dishes {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    border: 2px solid black;
}

.add_to_cart {
    height: 35px;
    width: 40px;
    font-size: 25px;
    background-color: unset;
    border: none;
}

.dish_menu {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.dish_menu:hover {
    background-color:cadetblue;
    border: 0.5px solid black;
}

.dishes_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer {
    height: 100px;
    background-color: gray;
}