header {
    background-color: rgba(238, 118, 13, 0.894);
    height: 80px;
}

h1 {
    font-family: 'Main_Headline_Font', sans-serif;
}

header img {
    margin-top: 8px;
    width: auto;
    height: 50px;
    padding-left: 16px;
}



.main_logo {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.company_logo_div {
    display: grid;
    flex-direction: column;
}

.company_logo_div > * {
    grid-area: 1 / 1;
  }

.company_logo {
    top: 84%;
    width: 100px;
    height: auto;
    border-radius: 50%;
    position: relative;
    bottom: 0;
    left: 43%;
}

.menu_section {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);

}

.restaurant_info {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 24px;
    margin-left: 16px;
}

.restaurant_info p {
    color: orangered;
}

.menu {
    display: flex;
    gap: 40px;
    background-color: #f5f5f5;
    padding: 16px;
    margin-right: 24px;
    justify-content: center;
}

.menu_button {
    border: none;
    background-color: white;
    padding: 12px;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    font-family: 'Menu_Buttons', italic;

}

.menu_button:hover {
    background-color: #F36805;
    color: white;
    cursor: pointer;
}

.actual_menu_image {
    width: auto;
    height: 200px;
    object-fit: cover;
    margin-bottom: 8px;
    margin-right: 24px;

}

.cart_container {
    min-width: 300px;
    margin-right: 8px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 
        -8px 0px 16px rgba(0, 0, 0, 0.20),
        8px 0px 16px rgba(0, 0, 0, 0.20);
   
}

.cart_container h2 {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.cart_call_to_action {
    text-align: center;
    border: 4px dashed #6262d4;
    animation: pulse 2s infinite;
    position: absolute;
    top: calc(50vh - 80px);
    border-radius: 20px;
    padding: 8px;
}

.cart_call_to_action img {
    width: 50px;
    height: auto;
}

.cart_call_to_action h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}


.cart_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
   
}

.cart_items_container {
    position: sticky;
    top: 8px;
}

.cart_dishes {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.cart_add_remove_pieces {
        border: none;
        width: 20px;
        height: auto;
        background-color: transparent;
}

.cart_order_button {
    border-radius: 5px;
    margin-top: 8px;
    padding: 5px;
    background-color: #F36805;
    border-color: #F36805;
    color: #fff;
    border-radius: 20px;
    border: 1px solid transparent;
    font-size: 20px;
}

.cart_border_bottom {
    border-bottom: 2px solid rgb(151, 151, 252);
    margin-bottom: 8px;
}

.add_to_cart {
    height: 35px;
    min-width: 40px;
    font-size: 25px;
    background-color: unset;
    border: 0.5px solid #e7e2da;
    border-radius: 50%;
    color: #F36805;
    margin-right: 8px;
}

.cart_payment {
    display: flex;
    flex-direction: column;
    position: sticky;
    bottom: 8px;
    margin-bottom: 8px;
}

.cart_payment div {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}

.cart_dishes h3 {
    text-decoration: underline;   
}

.dish_menu {
    display: flex;
    justify-content: space-between;
    background-color: #fefefe;
    margin-right: 24px;
    margin-left: 16px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    border: 0.5px solid transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dish_menu h2 {
    font-family: 'Headline_Font', sans-serif;
}

.dish_menu p {
    font-family: 'Body_Font', sans-serif;
}

.dish_menu:hover {
    background-color: #F5F5F5;
    border: 0.5px solid black;
}

.dishes_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

footer {
    height: 100px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.order_dialog_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 10px;
    padding: 16px;
    width: 600px;
    height: 300px;
    overflow: hidden;
    text-align: center;
}

#delivery_icon {
    position: absolute;
    width: 150px;
    bottom: 10px;
    left: -150px;
    transition: transform 6s linear;
    border-radius: 10px;
}

.order_dialog_container::backdrop {
    backdrop-filter: blur(5px); 
}

.free_delivery_container {
    border: 4px solid #6262d4;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 16px;
    animation: pulse 2s infinite;
}

.cart_for_lower_resolutions {
    display: none;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #F36805;
    width: calc(100vw - 32px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
}

.cart_for_lower_resolutions:hover {
    cursor: pointer;
}

.cart_for_lower_resolutions img {
    width: 30px;
    
}

.close_lower_resolution_cart {
    display: none;
    position: relative;
    left: calc(100% - 35px);
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: #3D3D3D;
    border: 1px solid #3D3D3D;
    border-radius: 30%;
    font-size: 20px;
}


@keyframes pulse {
    0% {
      border-color: #ffb37a;  
      box-shadow: 0 0 8px #ffb37a;
    }
    33% {
      border-color: #ff8b47;  
      box-shadow: 0 0 12px #ff8b47;
    }
    66% {
      border-color: #ffd7b3;
      box-shadow: 0 0 8px #ffd7b3;
    }
    100% {
      border-color: #ffb37a;
      box-shadow: 0 0 8px #ffb37a;
    }
  }

  @media (max-width: 950px) {
        header {
            height: 60px;
        }
        header img {
            height: 40px;
            margin-left: 8px;
        }
        .cart_container {
            opacity: 0;
            pointer-events: none;
            position: fixed;
            inset: 0;
            z-index: 2;
            background-color: white;
            padding-left: 8px;
            padding-right: 8px;
            box-shadow: none;
            margin-right: 0;

        }
        .menu_section {
            width: 100vw;
        }
        .company_logo {
            width: 70px;
        }
        .main_logo {
            height: 200px;
        }
        .actual_menu_image {
            height: 150px;
            margin-right: 0;
        }
        .cart_call_to_action {
            top: calc(50vh - 74px);
            left: calc(50vw - 158px);
            width: 300px;
        }
        .dish_menu {
            margin-left: 8px;
            margin-right: 8px;
        }
        .restaurant_info {
            margin-left: 8px;
        }
        .cart_for_lower_resolutions {
            display: flex;
            justify-content: space-between;
            position: sticky;
            bottom: 2px;
            z-index: 1;
        }
        .close_lower_resolution_cart {
            display: block;
        }
        .menu {
            margin-right: 0;
        }
        
       
  }

@media (max-width: 500px) {
        h1 {
            font-size: 24px;
        }
        .menu_button {
            padding: 8px;  
        }
        .menu {
            gap: 20px;
            padding: 8px;
        }
        .dish_menu h2 {
            font-size: 20px;
        }
        .dish_menu {
            padding-left: 4px;
            padding-top: 4px;
            padding-bottom: 4px;
            margin-left: 4px;
            margin-right: 4px;
        }
        .add_to_cart {
            margin-right: 4px;
        }
        .cart_for_lower_resolutions {
            width: calc(100vw - 24px);
        }

}

@media (max-width: 400px) {
        .main_logo {
            height: 150px;
        }
       .company_logo {
            width: 60px;
        }
        .menu {
            gap: 8px;
        }
        .actual_menu_image {
            height: 100px;
        }
        .cart_for_lower_resolutions img {
            width: 20px;
        }

}

@media (max-width: 370px) {
        .menu_button {
            padding: 4px;
            font-size: 16px;
        }
        .company_logo {
            top: 62%;
        }
}